@media screen and (min-width: 320px) and (max-width: 599px) {
  header {
    .top-header {
      .logo {
        height: 50px;
      }

      .score {
        font-size: 17px;
      }
    }

    .bottom-header {
      flex-wrap: wrap;
      height: auto;

      .bird-type {
        font-size: 14px;
        width: 50%;
        padding: 10px;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  header {
    .bottom-header {
      flex-wrap: wrap;
      height: auto;

      .bird-type {
        width: 25%;
        padding: 8px;
      }

      .bird-type:nth-child(5),
      .bird-type:nth-child(6) {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 999px) {
  header {
    .bottom-header {
      flex-wrap: wrap;
      height: auto;

      .bird-type {
        width: 20%;
        padding: 8px;
      }

      .bird-type:last-of-type {
        width: 100%;
      }
    }
  }
}
