body {
  background-color: #2b2b2b;
  font-family: "Lato", sans-serif;
}

#root {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.quiz {
  margin: 0 auto;
  padding-top: 20px;
  width: 90%;
}
